{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>


    {# <p>{{ 'group.show.name'|trans }}: {{ group.roles }}</p> #}

		{% for group in group %}
			{{ group.roles }}
		{% endfor %}

</div>
